<!DOCTYPE html>
<html>

<head>
  <title>new project</title>
  <style>
    p {
      width: 400px;
      height: 200px;
      background-color: rgb(15, 21, 80);
      box-shadow: 5px 5px 5px 5px rgb(177, 177, 177);
      border-radius: 20px;
      margin: auto;
      color: white;
      align-items: center;
      padding-top: 60px;
      padding-left: 10px
    }
    span{
      font-size: 20px;
     color: rgb(84, 84, 84);
    }
  </style>
</head>

<body>
  <h2>{{>header}}</h2>

  <p>
    <span>The Country name is : </span>   {{country}} <br>

   <span> latitude : </span>  {{latitude}} <br>
   
   <span> Longtitude : </span>  {{longtitude}}<br>

   <span> Current Weather :  </span>{{curWeather}}<br>
    <span> Current Weather :  </span>>{{temperature}}

  </p>


</body>

</html>